/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// My reset
*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
button,
textarea,
button,
input:focus,
button:focus,
textarea:focus {
  box-shadow: none;
  outline: 0;
}

button {
  border: 0;
  background: none;
}

input::placeholder {
  letter-spacing: 0.04em;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

img {
  object-fit: cover;
}

/* Custom style  */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 35px;
}

/* .navigation {
    text-align: center;
    margin-bottom: 20px;
}



.main-header {
    background-color: white
}

.main-header span {
    color: #EA513E;
    margin-left: 20px; */
/* } */

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .logo img {
    width: 80px;
    vertical-align: middle;
} */

/* custom style  */

.bg-hero {
  /* height: 100vh; */
  background: linear-gradient(
      to right,
      rgba(88, 209, 94, 0.8),
      rgba(64, 136, 223, 0.8)
    ),
    url(assets/home-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0; */
}

.header {
  padding: 20px 0px;
}

/* .translate {} */

.logo span {
  color: white;
  font-size: 36px;
  line-height: 1.7;
  text-transform: capitalize;
}

.navigation-menu {
  margin-left: 80px;
}

.navigation-menu a {
  color: white;
  font-size: 20px;
  line-height: 1.7;
  text-transform: capitalize;
  margin: 0px 10px;
}

.navigation a {
  padding: 10px;
  color: white;
  margin: 0px 10px;
}

.btn-main {
  padding: 3px;
  background-color: red;
  border-radius: 20px;
}

/* .flex-wrap {
    justify-content: space-around;
} */

.banner-detail {
  margin: 40px 15px;
  justify-content: space-around;
}

.hero-bn {
  padding: 200px 0px;
}

.heading h2 {
  color: white;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
}

.banner-btn {
  border: 1px solid white;
  padding: 12px;
  border-radius: 20px;
  border-style: double;
}

.banner-btn button {
  color: white;
}

.banner-contact p {
  color: white;
  text-transform: capitalize;
  font-size: 16px;
}

.banner-video {
  margin-right: 40px;
}

/* progress section  */

.section {
  padding: 80px 0px;
}

.col-1 {
  width: 33.33%;
}

.introduction {
  margin-right: 40px;
  width: 50%;
}

.heading-intro {
  font-size: 26px;
  line-height: 1.7;
}

.intro-para {
  font-size: 14px;
  color: gray;
  line-height: 1.2;
  margin-top: 10px;
  letter-spacing: 1px;
}

.progress-bar-image img {
  width: 300px;
  height: 300px;
}

.percentage-bar {
  /* text-align: center; */
}

/* .flex-space {
  justify-content: space-evenly;
} */

.load-marker {
  height: 2px;
  background-color: black;
  margin: 5px 0px 10px 0px;
}

.marker-one {
  width: 85%;
}

.marker-two {
  width: 90%;
}

.marker-three {
  width: 70%;
}

.marker-four {
  width: 75%;
}

/* Blog page section  */

.blog-section {
  background-color: #efefef;
  padding: 120px 0px;
}

.main-head {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.7;
}

.flex-wrap {
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog-page {
  background-color: white;
  box-shadow: 1px 3px 4px 4px lightgrey;
  justify-content: space-evenly;
  width: 45%;
  margin-top: 40px;
}

.blog-image img {
  height: 300px;
}

.blog-article {
  margin-left: 30px;
}

.blog-article a {
  color: red;
}

.blog-article i {
  margin-right: 10px;
}

.blog-heading {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 20px;
}

.blog-para {
  color: gray;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3;
  text-transform: inherit;
}

.blog-btn {
  margin-top: 30px;
}

.blog-btn a {
  color: black;
  background-color: #efefef;
  padding: 15px;
  border-radius: 25px;
}

/* Our work section 
 */

.work-section {
  margin: 60px 0px;
}

.work-display {
  margin: 40px 0px;
}

.work-display img {
  width: 280px;
  height: 280px;
}

.contact-section {
  padding: 55px 0px;
  background: linear-gradient(to left, #7df265, #1a77e4);
}

.map-section iframe {
  border: 0;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.form {
  flex-direction: column;
}

.form-input input {
  padding: 15px;
  border-radius: 8px;
  border-style: none;
  width: 300px;
  margin: 10px;
}

.form-input .requirment {
  width: 657px;
  height: 120px;
}

.contact-btn {
  padding: 16px 35px;
  color: white;
  background-color: #cf3732;
  border-radius: 30px;
  margin-left: 7.2em;
}

/* Footer style  */

.footer-section .flex {
  align-items: flex-start;
}

.main-footer-section {
  padding: 20px 0px;
}

.line {
  height: 1px;
  background-color: #efefef;
}

.footer-section {
  padding: 80px 0px;
  background-color: #202020;
  color: white;
}

.footer-list {
  width: 25%;
}

.footer-list .main-head {
  text-align: inherit;
}

.list-hydro {
  width: 50%;
  margin-right: 40px;
}

.main-para {
  line-height: 1.2;
  font-size: 14px;
  font-weight: 100;
  margin-top: 20px;
  color: #e7e8e7;
}

.footer-list li,
.para {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 100;
  color: #efefef;
}

.footer {
  background-color: #202020;
}

/* .footer .flex {
    justify-content: space-around;
} */

.call-section {
  width: 50%;
}

.flex-space {
  justify-content: space-around;
}
